<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gaomar.osakacitybus"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimetableActivity" android:screenOrientation="portrait" />
        <activity android:name="mediba.ad.sdk.android.openx.MasAdClickWebview" />	
        
        <meta-data android:name="Adlantis_Publisher_ID" android:value="MTgwNTA%3D%0A" />
        <meta-data android:value="1915c87bc0b840c6856f9b50f043decd" android:name="ADWHIRL_KEY"/>	
        <meta-data android:name="i-mobile_Publisher_ID" android:value="11116" />
        
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
</manifest>